@using StageSchoolProjectAuto2
@model StageSchoolProjectAuto2.Models.ContactModel

@{
    ViewBag.Title = "Contact";

}

<h2>Contact</h2>
<p>Er kan contact gelegd worden doormiddel van de volgende middelen</p>
<table class="table table-sm table-dark">
    
        <tr>
            <th scope="col">Email : placeholderemail@email.com</th>
        </tr>
        <tr>
            <th scope="col">livechat : placeholder</th>
        </tr>
        <tr>
            <th scope="col">Telefoon : +31625345678</th>
        </tr>
    
</table>
