@model StageSchoolProjectAuto2.Models.Profile

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Profile</h2>
<body>
    <form id="form1" runat="server">
        <div>
            <table class="table table-striped">
                <tr>
                    <th scope="row">Willekeurig kenteken</th>
                    <td>@ViewBag.KentekenOut;</td>
                </tr>
            </table>
        </div>
    </form>
    <script async src="https://cse.google.com/cse.js?cx=1585c4b2d4f5255f3"></script>
    <div class="gcse-search"></div>
</body>
